@font-face {
  font-family: 'AvantGarde LT';
  src: url('Fonts/AvantGardeLT-Medium.woff2') format('woff2'),
    url('Fonts/AvantGardeLT-Medium.woff') format('woff'),
    url('Fonts/AvantGardeLT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvantGarde LT';
  src:url('Fonts/AvantGardeLT-Bold.woff2') format('woff2'),
    url('Fonts/AvantGardeLT-Bold.woff') format('woff'),
    url('Fonts/AvantGardeLT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Demi';
  src:url('Fonts/ITCAvantGardeStd-Demi.woff2') format('woff2'),
    url('Fonts/ITCAvantGardeStd-Demi.woff') format('woff'),
    url('Fonts/ITCAvantGardeStd-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Avant Garde Pro Bk';
  src:url('Fonts/ITCAvantGardePro-Bk.woff2') format('woff2'),
    url('Fonts/ITCAvantGardePro-Bk.woff') format('woff'),
    url('Fonts/ITCAvantGardePro-Bk.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}