/* customize scribos/valigate css via custom properties */
.vg-root {
  --border-radius: 4px;
  --primary-color: green;
  --secondary-color: #bbb;
}

.app {
  /* we are using fixed heights and a JS update function to handle mobile browsers with/without browser bar etc. */
  /* see https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
  /* can be replaced by dynamic viewport units in the future (see https://web.dev/viewport-units/) */
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  flex: 0 0 auto;
  width: 100%;
  height: calc(var(--vh, 1vh) * 10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1 0 auto;
  width: 100%;
  height: calc(var(--vh, 1vh) * 86);
  display: flex;
  justify-content: center;
}

.footer {
  flex: 0 0 auto;
  width: 100%;
  height: calc(var(--vh, 1vh) * 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: 0.5rem;
  border-radius: 4px;
  box-shadow: none;
  padding: 2rem;
  background-color: #feeded;
  max-height: 300px;
  margin-top: 3rem;
}

.block-screen__title {
  font-weight: bold;
  margin-bottom: 1rem;
}

/* .block-screen__content {} */

.block-screen__content-text {
  line-height: 1.4;
}

.block-screen__actions {
  margin-top: 2rem;
  text-align: center;
}

.valigate {
  width: 100%;
  height: 100%;
}

.result {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.result__status {
  width: 100%;
  padding: 1rem;
  margin-bottom: 3rem;
  font-weight: bold;
  color: white;
}

.authentication-product-container h2,
.authentication-product-container h3.authentication-product__scan-title,
.authentication-product__scan-button-style,
.authentication-productstages__name,
.authentication-productstages__scan-button-style,
.authentication-productstages__scan-title,
.authentication-form__scan-title,
.authentication-form-container p,
button.form-submit,
button.form-skip,
.authentication-product__backsection-content {
  font-family: 'AvantGarde LT';
}

.authentication-product-container p,
.authentication-productstages-container p,
.authentication-form-container label,
.authentication-form-container input {
  font-family: 'ITC Avant Garde Gothic Std Demi';
}

.authentication-product-container h3,
.authentication-productstage__value {
  font-family: 'ITC Avant Garde Pro Bk';
}

.authentication-productstage__value {
  font-weight: bold;
}

.authentication-product-bg,
.authentication-form-bg {
  position: relative;
}

.authentication-product-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -5%;
  color: #103d8c;
  text-align: center;
  margin: -5% 14% 15%;
}

.authentication-product__static-desc {
  margin-bottom: 8%;
}

.authentication-product__info {
  text-align: left;
  align-items: center;
  margin-bottom: 2%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 15% 85%;
}

.authentication-product__icon img {
  width: 50%;
}

.authentication-product__title {
  margin: 5px 0;
}

.authentication-product__value {
  color: #231f20;
  margin: 3% 0;
  font-weight: normal;
}

.authentication-product__scan-button-style {
  border-radius: 50px;
  align-items: center;
  color: #103d8c;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  width: 100%;
  display: grid;
  padding: 18px 0;
  font-size: 20px;
  border: 2px solid #103d8c;
}

.authentication-product__scan-logo {
  width: 22%;
  margin-top: 3%;
}

.authentication-product__factory-image {
  width: 100%;
}

.authentication-product__name {
  font-size: 20px;
}

/* S3-S5 CSS */
.authentication-productstages-bg {
  position: relative;
}

.authentication-productstages-container {
  color: #103d8c;
  text-align: center;
  margin: 2% 5% 2%;
  padding: 0 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.authentication-productstages__factory-image {
  width: 100%;
}

.authentication-productstages__scan-button-style {
  border-radius: 35px;
  align-items: center;
  color: #103d8c;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  width: 100%;
  display: grid;
  padding: 10px 0;
  font-size: 20px;
  border: 2px solid #103d8c;
}

.authentication-product__timeline {
  position: relative;
  margin-top: 2%;
}

.authentication-product__timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #103d8c;
  top: -12px;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  height: 247px;
}

.authentication-product__container {
  padding: 0;
  position: relative;
  background: inherit;
  width: 50%;
}

.authentication-product__container.left {
  left: 0;
}

.authentication-product__container.right {
  left: 50%;
}

.authentication-product__container::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  top: calc(50% - 15px);
  right: -16px;
  z-index: 1;
}

.authentication-product__container.right::after {
  left: -16px;
}

.authentication-product__container::before {
  content: '';
  position: absolute;
  width: 78%;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #f4811f;
  z-index: 1;
}

.authentication-product__container.right::before {
  left: 8px;
}

.authentication-product__container .content {
  padding: 30px 90px 30px 30px;
  /*   background: #F6D155; */
  position: relative;
  border-radius: 0 500px 500px 0;
}

.authentication-product__container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.authentication-product__container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006E51;
}

.authentication-product__container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.authentication-product__container.left .authentication-productstage__content {
  text-align: right;
  margin-right: 16%;
}

.authentication-product__container.right .authentication-productstage__content {
  margin-left: 16%;
  text-align: left;
}

.authentication-productstages__header {
  background: url(../../public/Assets/s4-title-background.png) no-repeat;
  color: #ffff;
  display: grid;
  grid-template-columns: 62% 35%;
  align-items: center;
  position: relative;
  margin-top: 10%;
}

.authentication-productstages__header-packshot {
  position: absolute;
  top: 50%;
  left: 60%;
  right: 0;
  margin-top: -20%;
}

.authentication-productstages__name {
  font-size: 14px;
  margin: 0;
  padding: 9% 0 2%;
}

.authentication-productstages__static-desc {
  font-size: 10px;
  margin: 0;
  padding: 0 0 7%;
}

.authentication-productstages__packshoticon {
  width: 100%;
}

.authentication-productstage__title {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}

.authentication-productstage__value {
  font-size: 14px;
  font-weight: normal;
  margin-top: 8%;
}

.authentication-productstages__scan-button {
  margin: 5%;
}

.authentication-product__container.left.one::after {
  background: url(../../public/Assets/S4-production-icon.png) no-repeat;
  background-size: 32px;
}

.authentication-product__container.left.two::after {
  background: url(../../public/Assets/S4-expiration-icon.png) no-repeat;
  background-size: 32px;
}

.authentication-product__container.right.one::after {
  background: url(../../public/Assets/s4-batch-icon.png) no-repeat;
  background-size: 32px;
}

.authentication-product__container.right.two::after {
  background: url(../../public/Assets/S4-factory-icon.png) no-repeat;
  background-size: 32px;
}

.authentication-productstages__scan-title {
  margin: 0;
}

.authentication-product__backsection {
  display: flex;
  align-items: center;
  background: #ffde8f;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -242%;
  width: 140%;
  left: -20%;
  height: 42px;
}

.authentication-product__backsection-icon {
  padding-left: 12%;
}

.authentication-product__backsection-content {
  padding-left: 3%;
}

.authentication-productstages__scan-desc {
  margin-top: 1%;
  font-size: 14px;
}

.authentication-product__backsection-stage {
  position: absolute;
  margin-top: -19%;
  left: 4%;
}

.authentication-productstages__scan-desc {
  font-size: 10px;
  padding: 0 5%;
}

/* Neative Scan Form */
.authentication-form-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #103d8c;
  margin: 5% 11% 5%;
}

.authentication-form__scan-process {
  text-align: center;
  margin-bottom: 15%;
}

form.negative-scan-form .form-field {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #00000024;
  margin-bottom: 2%;
}

form.negative-scan-form .form-field label {
  padding: 2%;
}

form.negative-scan-form .form-field input {
  padding: 2%;
  background: 0 0;
  border: none;
  height: 22px;
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  color: #555;
  margin-bottom: 5%;
}

form.negative-scan-form .form-field input:focus {
  outline: none;
}

form.negative-scan-form .form-field .error {
  margin-bottom: 5%;
}

form.negative-scan-form .agree-checkbox {
  margin: 10% 0;
  padding: 0 5%;
  font-size: 13px;
  text-align: justify;
}

button.form-skip {
  border-radius: 15px;
  color: #103d8c;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  max-width: 250px;
  margin: 5% 5%;
  width: 100%;
  display: grid;
  padding: 10px 0;
  font-size: 16px;
  justify-content: center;
  border: 2px solid #103d8c;
}

button.form-submit {
  border-radius: 15px;
  color: #103d8c;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  max-width: 250px;
  margin: 5% 5%;
  width: 100%;
  display: grid;
  padding: 10px 0;
  font-size: 16px;
  background: #f5e096;
  justify-content: center;
}

form.negative-scan-form .form-field label,
form.negative-scan-form .form-field input,
form.negative-scan-form .form-field .error {
  padding-left: 5%;
}

.authentication-form-container .authentication-product__backsection {
  margin-top: -199%;
}

.authentication-form__scan-desc {
  font-size: 14px;
  padding: 0 5%;
}